*{
    font-family: "Verdana", sans-serif;
  }
  
  #main{
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
  }
  
  img{
    display: block;
  }
  
  #image{
    max-width: 100%;
    height: auto;
    align-items: center;
  }
  
  #img-caption{
    text-align: center;
  }